mixin form_input(id, display, type='text', required_input=true)
  .form-group.mb-3
    label.form-label.fw-bold(for=id)= display ? display : id.charAt(0).toUpperCase() + id.slice(1)
    input.form-control(type=type, id=id, name=id, required=required_input, minlength="3")

mixin form_checkbox(id, label)
  .mb-3.form-check
    input.form-check-input(type="checkbox", id=id, name=id)
    label.form-check-label(for=id)= label

mixin form_container(header)
  .container.mt-5
    .row.justify-content-center
      .col-lg-6
        .bg-light.p-4.mb-4
          h2.text-center.mb-4= header
          block

mixin flash_messages(messages, alertLevel)
  for message in messages
    div.alert(class=`alert-${alertLevel}`, role='alert', style='word-wrap: break-word;')
      i.fas.fa-exclamation-triangle
      span #{message}

