mixin form_input(id, display, type='text', required_input=true)
  .form-group.mb-3
    label.form-label.fw-bold(for=id)= display ? display : id.charAt(0).toUpperCase() + id.slice(1)
    input.form-control(type=type, id=id, name=id, required=required_input, minlength="3")

mixin form_checkbox(id, label)
  .mb-3.form-check
    input.form-check-input(type="checkbox", id=id, name=id)
    label.form-check-label(for=id)= label

mixin disable_input_if_checkbox(input_id, checkbox_id)
  script.
    const inputField = document.getElementById("#{input_id}"); // Get the appname input field
    document.addEventListener("DOMContentLoaded", function () {
      if (document.getElementById("#{checkbox_id}").checked) {
        inputField.value = ""; // Clear the appname input value
        inputField.disabled = true; // Disable the appname input field
      }
    });
    document.getElementById("#{checkbox_id}").addEventListener("change", function () {
      if (this.checked) {
        inputField.value = ""; // Clear the appname input value
        inputField.disabled = true; // Disable the appname input field
      } else {
        inputField.disabled = false; // Enable the appname input field
      }
    });


mixin form_container(header)
  .container.mt-5
    .row.justify-content-center
      .col-lg-8
        .bg-light.p-4.mb-4
          h2.text-center.mb-4= header
          block

mixin grey_label(id, display)
  label(for=id, style='color: #6f6f6f;')= display ? display : id.charAt(0).toUpperCase() + id.slice(1)

mixin collapsible_card(accordion_id, card_id, heading, seleniumID)
  .card
    div(class="card-header" id="heading" + card_id)
      h5.mb-0
        button(class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse" + card_id aria-expanded="false" aria-controls="collapse" + card_id, id=`${seleniumID}-btn`)= heading
    div(id="collapse" + card_id class="collapse" aria-labelledby="heading" + card_id data-parent="#" + accordion_id)
      block

mixin endpoint_verbs_dropdown(id)
  select.form-select(name=id)
    option(value='GET') GET
    option(value='POST') POST
    option(value='PUT') PUT
    option(value='DELETE') DELETE

mixin origin_server_input(server)
  .form-group.mb-3
    label.form-label.fw-bold(for="originServerId") Server
    input.form-control(type=type, id="originServerId", name="originServerId", value=server, disabled)

mixin client_access_manager(providerName, serverName, endpoint)
  .card.mb-3(style=`background-color: ${endpoint.verb === 'GET' ? '#D9EDF7' : endpoint.verb === 'POST' ? '#DFF0D8' : endpoint.verb === 'PUT' ? '#fdd187' : endpoint.verb === 'DELETE' ? '#ff8484' : '#FFFFFF'};`)
    .card-body.d-flex.justify-content-between
      h6.card-subtitle.mb-2(style='color: #6f6f6f;')= endpoint.verb.toUpperCase() + " /" + endpoint.path
      // states: init, waiting for approval, revoked, granted
      if endpoint.EndpointAccessGrant.length === 0
        form(action="/ui/AddEndpointAccessGrant", method="post")
          input(type="hidden", name="endpointId", value=endpoint.id)
          button.btn.btn-primary(type='submit', id=`${providerName}-${serverName}-${endpoint.verb}-${endpoint.path}-btn`) Request
      else if endpoint.EndpointAccessGrant.length === 1
        - let grant = endpoint.EndpointAccessGrant[0]
        unless grant.approvedBy
          button.btn.btn-secondary(disabled) Waiting for approval
        else if grant.revoked
          button.btn.btn-danger(disabled) Revoked
        else
          h6.card-subtitle.mb-2(style='color: #6f6f6f;' id=`${providerName}-${serverName}-${endpoint.verb}-${endpoint.path}-grant-id`)= "(" + grant.id + ")"
          button.btn.btn-success(disabled) Granted
      else
        h6.card-subtitle.mb-2(style='color: #6f6f6f;') Something went wrong, more than 1 EndpointAccessGrant

mixin provider_access_manager(endpoint)
  h6.card-subtitle.mb-2(style='color: #6f6f6f;')= endpoint.verb.toUpperCase() + " /" + endpoint.path
  ul.list-group.list-group-flush
    each grant in endpoint.EndpointAccessGrant
      li.list-group-item.d-flex.justify-content-between(style=`background-color: #D1D1E0;`)
        h6(style='color: #6f6f6f;')= grant.requestedBy
        // states: approve, revoke, re-enable
        if grant.approvedBy
          if grant.revoked
            form(action="/ui/Enable", method="post")
              input(type="hidden", name="endpointAccessGrantId", value=grant.id)
              button.btn.btn-info(type='submit') Restore
          else
            form(action="/ui/Revoke", method="post")
              input(type="hidden", name="endpointAccessGrantId", value=grant.id)
              button.btn.btn-danger(type='submit') Revoke
        else
          form(action="/ui/Approve", method="post")
            input(type="hidden", name="endpointAccessGrantId", value=grant.id)
            button.btn.btn-success(type='submit') Approve

mixin flash_messages(messages, alertLevel)
  for message in messages
    div.alert(class=`alert-${alertLevel}`, role='alert', style='word-wrap: break-word;')
      i.fas.fa-exclamation-triangle
      span #{message}

