mixin form_input(id, type='text', required_input=true)
  .form-group.mb-3
    label.form-label.fw-bold(for=id)= id.charAt(0).toUpperCase() + id.slice(1)
    input.form-control(type=type, id=id, name=id, required=required_input)

mixin form_container(header)
  .container.mt-5
    .row.justify-content-center
      .col-lg-6
        .bg-light.p-4.mb-4
          h2.text-center.mb-4= header
          block

